.container-1{
    border: 1px solid black;
    text-align: center;
    width: 75%;
    margin: 0 auto;
}
.flex-box-container-1{
    display: flex;
    border: 2px solid black;
    padding: 10px;
    justify-content: space-around;
}
.flex-box-container-1 div{
    padding: 10px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}
#flex-box-result{
    border: 1px solid black;
}
